<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Zixuan Wang | Tsinghua University</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A personal academic homepage.">
    
    <meta name="keywords" content="minimal light, academic homepage">
    
    
    <link rel="canonical" href="https://minimal-light-theme.yliu.me/"/>
    

    <link rel="icon" media="(prefers-color-scheme:dark)" href="./assets/img/favicon-dark.png" type="image/png" />
    <link rel="icon" media="(prefers-color-scheme:light)" href="./assets/img/favicon.png" type="image/png" />
    <script src="./assets/js/favicon-switcher.js" type="application/javascript"></script>

    <link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/academicons/1.8.6/css/academicons.min.css integrity="sha256-uFVgMKfistnJAfoCUQigIl+JfUaP47GrRKjf6CTPVmw=" crossorigin=anonymous>
    <link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin=anonymous>

    
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/publications.css">
    

  </head>
  <body>
    <div class="wrapper">
      <header>
        
        
        <a class="image avatar"><img src="./assets/img/avatar.png" alt="avatar" /></a>
        

        <h1>Zixuan Wang</h1>

        
        <position style="font-size:1.10rem;">Undergraduate Student</position>
        <br>
        
        
        <a href="https://www.tsinghua.edu.cn/" rel="noopener"><autocolor>Tsinghua University</autocolor></a>
        <br>
        
        
        <email>wang-zx23@mails.tsinghua.edu.cn</email>
        

        <br>
        <br>
        <div class="social-icons">
        
        <a style="margin: 0 5px 0 0" href="https://github.com/wannabeyourfriend">
          <i class="fab fa-github"></i>
        </a>
        

        
        </div>
        <br>

      </header>
      <section>

      <h2 id="about-me">About Me</h2>

<p>I am currently a second year undergraduate student (from 2023) in Tsinghua University. I welcome any collaboration or discussion, whether with seniors or peers. Please feel free to reach out!</p>

<h2 id="research-interests">Research Interests</h2>

<p>My research focuses on computer vision and advancing artificial intelligence in several key ways:</p>
<ul>
  <li>Improving machines' understanding of the physical world</li>
  <li>Enabling AI to leverage tools for human interaction</li>
  <li>Developing human-centered AI systems</li>
</ul>

<h2 id="projects" style="margin: 2px 0px -15px;">Projects</h2>

<div class="publications">
<ol class="bibliography">

<li>
<div class="pub-row">
  <div class="col-sm-3 abbr" style="position: relative;padding-right: 15px;padding-left: 15px;">
    <img src="./assets/img/egoreasoner.png" class="teaser img-fluid z-depth-1" style="width=100;height=40%" />
    <abbr class="badge">EgoReasoner</abbr>
  </div>
  <div class="col-sm-9" style="position: relative;padding-right: 15px;padding-left: 20px;">
      <div class="title"><a href="./assets/files/EgoReasoner.pdf">Ego-embodied Reasoner: Egocentric Embodied Reasoning and Planning with MLLM via Reinforcement Learning</a></div>
      <div class="periodical"><em>Deep Reinforcement Learning Course Project, Instructed by Professor Huazhe Xu</em></div>
    <div class="links">
      <a href="./assets/files/EgoReasoner.pdf" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">PDF</a>
      <a href="https://github.com/wannabeyourfriend/EgoReasoner" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">Code</a>
      <a href="https://cloud.tsinghua.edu.cn/f/0e7c7d68031c46abb049/" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">Video</a>
    </div>
  </div>
</div>
</li>

<br />

<li>
<div class="pub-row">
  <div class="col-sm-3 abbr" style="position: relative;padding-right: 15px;padding-left: 15px;">
    <img src="./assets/img/egohoi.png" class="teaser img-fluid z-depth-1" style="width=100;height=40%" />
    <abbr class="badge">EgoHOI</abbr>
  </div>
  <div class="col-sm-9" style="position: relative;padding-right: 15px;padding-left: 20px;">
      <div class="title"><a href="./assets/files/EgoHOI.pdf">EgoHOI: Prior-Guided 3D Hand-Object Interaction Reconstruction from Monocular Egocentric RGB Video</a></div>
      <div class="periodical"><em>Computer Vision Course Project</em></div>
    <div class="links">
      <a href="./assets/files/EgoHOI.pdf" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">PDF</a>
      <a href="https://github.com/wannabeyourfriend/EgoHOI" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">Code</a>
    </div>
  </div>
</div>
</li>

<br />

<li>
<div class="pub-row">
  <div class="col-sm-3 abbr" style="position: relative;padding-right: 15px;padding-left: 15px;">
    <img src="./assets/img/3dv.png" class="teaser img-fluid z-depth-1" style="width=100;height=40%" />
    <abbr class="badge">3DV</abbr>
  </div>
  <div class="col-sm-9" style="position: relative;padding-right: 15px;padding-left: 20px;">
      <div class="title"><a href="./assets/files/3DV_project.pdf">Unconditional and Image-conditioned 3D Generation</a></div>
      <div class="periodical"><em>3D Visual Computing Course Project, instructed by Professor Li Yi</em></div>
    <div class="links">
      <a href="./assets/files/3DV_project.pdf" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">PDF</a>
      <a href="https://github.com/wannabeyourfriend/3D-Visual-Computing-Project" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">Code</a>
      <a href="https://cloud.tsinghua.edu.cn/f/b7a83c03f24249e89083/" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">Video</a>
    </div>
  </div>
</div>
</li>

<br />

<li>
<div class="pub-row">
  <div class="col-sm-3 abbr" style="position: relative;padding-right: 15px;padding-left: 15px;">
    <img src="./assets/img/cg.png" class="teaser img-fluid z-depth-1" style="width=100;height=40%" />
    <abbr class="badge">CG</abbr>
  </div>
  <div class="col-sm-9" style="position: relative;padding-right: 15px;padding-left: 20px;">
      <div class="title"><a href="./assets/files/CG_project.pdf">Human Skeleton and Skin Generation</a></div>
      <div class="periodical"><em>Fundamentals of Computer Graphics Course Project, the 5-th Jittor AI competition, track 2</em></div>
    <div class="links">
      <a href="./assets/files/CG_project.pdf" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">PDF</a>
      <a href="https://github.com/wannabeyourfriend/CG-project" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">Code</a>
    </div>
  </div>
</div>
</li>

<br />

<li>
<div class="pub-row">
  <div class="col-sm-3 abbr" style="position: relative;padding-right: 15px;padding-left: 15px;">
    <img src="./assets/img/oop.png" class="teaser img-fluid z-depth-1" style="width=100;height=40%" />
    <abbr class="badge">OOP</abbr>
  </div>
  <div class="col-sm-9" style="position: relative;padding-right: 15px;padding-left: 20px;">
      <div class="title"><a href="./assets/files/oop.pdf">Project Reading Report</a></div>
      <div class="periodical"><em>Object Oriented Programming Course Project</em></div>
    <div class="links">
      <a href="./assets/files/oop.pdf" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">PDF</a>
      <a href="https://github.com/wannabeyourfriend/oop-project" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">Code</a>
    </div>
  </div>
</div>
</li>

<br />

<li>
<div class="pub-row">
  <div class="col-sm-3 abbr" style="position: relative;padding-right: 15px;padding-left: 15px;">
    <img src="./assets/img/hrm.png" class="teaser img-fluid z-depth-1" style="width=100;height=40%" />
    <abbr class="badge">Programming</abbr>
  </div>
  <div class="col-sm-9" style="position: relative;padding-right: 15px;padding-left: 20px;">
      <div class="title"><a href="https://github.com/wannabeyourfriend/Human-Resource-Machine">Human Resource Machine</a></div>
      <div class="periodical"><em>Fundamentals of Programming Course Project</em></div>
    <div class="links">
      <a href="./assets/files/hrm.pdf" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">PDF</a>
      <a href="https://github.com/wannabeyourfriend/Human-Resource-Machine" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">Code</a>
    </div>
  </div>
</div>
</li>

<br />

<li>
<div class="pub-row">
  <div class="col-sm-3 abbr" style="position: relative;padding-right: 15px;padding-left: 15px;">
    <img src="./assets/img/uno.png" class="teaser img-fluid z-depth-1" style="width=100;height=40%" />
    <abbr class="badge">Programming</abbr>
  </div>
  <div class="col-sm-9" style="position: relative;padding-right: 15px;padding-left: 20px;">
      <div class="title"><a href="https://github.com/wannabeyourfriend/UNO-card-game-EasyX">UNO Card Game</a></div>
      <div class="periodical"><em>The first programming project in my life!</em></div>
    <div class="links">
      <a href="https://github.com/wannabeyourfriend/UNO-card-game-EasyX" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">Code</a>
      <a href="https://cloud.tsinghua.edu.cn/f/1359c3044f1446e698fe/" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">Video</a>
    </div>
  </div>
</div>
</li>


</ol>
</div>


      <br>

      
      <p><small>Powered by Jekyll and <a href="https://github.com/yaoyao-liu/minimal-light" target="_blank" rel="noopener">Minimal Light</a> theme.</small></p>
      

      </section>
      <footer>
        
      </footer>
    </div>
    <script src="/assets/js/scale.fix.js"></script>
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-111540567-4', 'auto');
      ga('send', 'pageview');
    </script>
    
  </body>
</html>